Button {
  -fx-background-color:  rgba(0,153,255,0.5);
  -fx-font-family: "Helvetica Neue";
  -fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-font-color: rgba(255,255,255,1);
}

Button:hover {
  -fx-background-color:  rgba(0,153,255,0.8);
  -fx-font-family: "Helvetica Neue";
  -fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-font-color: rgba(255,255,255,1);
}

Button:pressed {
  -fx-background-color:  rgba(0,153,255,1);
  -fx-font-family: "Helvetica Neue";
  -fx-font-weight: bold;
  -fx-font-size: 20px;
  -fx-font-color: rgba(255,255,255,1);
}

HBox {
  -fx-background-image: url("backgroundimages/main_menu_background.webp");
  -fx-background-repeat: stretch;
  -fx-background-size: cover;
  -fx-background-position: center center;
}

#container {
  -fx-background-image: url("backgroundimages/canvas_background.webp");
  -fx-background-repeat: stretch;
  -fx-background-size: cover;
  -fx-background-position: center center;
}